services:
  # Infrastructure
  nats:
    image: nats:2.10
    container_name: nats
    ports:
      - "4222:4222"
      - "8222:8222"
    command: ["-js", "-c", "/etc/nats/nats.conf"]
    volumes:
      - ./common/natsjetstream/nats.conf:/etc/nats/nats.conf
      - nats_data:/data
    restart: unless-stopped
  redis:
    image: redis:7-alpine
    container_name: redis
    ports: 
      - "6379:6379"
    command: redis-server
      --appendonly yes
      --appendfsync everysec
      --maxmemory 256mb
      --maxmemory-policy allkeys-lru
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
  redis-insight:
    image: redis/redisinsight:latest
    container_name: redis-insight
    ports:
      - "5540:5540"
    volumes:
      - redis_insight_data:/data
    depends_on:
      - redis
  dynamodb:
    image: amazon/dynamodb-local
    container_name: dynamodb
    ports:
      - "8000:8000"
    command: -jar DynamoDBLocal.jar -sharedDb -dbPath /home/dynamodblocal/data
    volumes:
      - dynamodb_data:/home/dynamodblocal/data
    user: root
    healthcheck:
      test: ["CMD-SHELL", "curl -s -o /dev/null -w '%{http_code}' http://localhost:8000 || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 5
  dynamodb-init:
    image: amazon/aws-cli
    container_name: dynamodb-init
    depends_on:
      dynamodb:
        condition: service_healthy
    volumes:
      - ./schemas:/tmp/dynamo
    environment:
      AWS_ACCESS_KEY_ID: 'FAKEID'
      AWS_SECRET_ACCESS_KEY: 'FAKEKEY'
      AWS_REGION: 'us-west-2'
    entrypoint: /bin/bash
    command: >
      -c "
        for f in /tmp/dynamo/*.json; do 
          echo 'Creating table from $$f...';
          aws dynamodb create-table --endpoint-url http://dynamodb:8000 --cli-input-json file://$$f || echo 'Table already exists or creation failed for: '$$f;
        done
      "

  # Microservices
  user-service:
    container_name: user-service
    build: 
      context: ./
      dockerfile: ./services/user-service/Dockerfile
    depends_on:
      - dynamodb
      - nats
    environment:
      - DEBUG_FLAG=true
    ports:
      - "9090:9090"
  tournament-service:
    container_name: tournament-service
    build: 
      context: ./
      dockerfile: ./services/tournament-service/Dockerfile
    depends_on:
      - dynamodb
      - nats
      - user-service
    environment:
      - DEBUG_FLAG=true
    ports:
      - "9091:9091"
  leaderboard-service:
    container_name: leaderboard-service
    build: 
      context: ./
      dockerfile: ./services/leaderboard-service/Dockerfile
    depends_on:
      - redis
      - nats
    environment:
      - DEBUG_FLAG=true
    ports:
      - "9092:9092"
  
volumes:
  nats_data:
  redis_data:
  redis_insight_data:
  dynamodb_data: