services:
  # Infrastructure
  nats:
    image: nats:2.10
    container_name: nats
    ports:
      - "4222:4222"
      - "8222:8222"
    command: ["-js", "-c", "/etc/nats/nats.conf"]
    volumes:
      - ./internal/nats_client/nats.conf:/etc/nats/nats.conf
      - nats_data:/data
    restart: unless-stopped
  redis:
    image: redis:7.2
    container_name: redis
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
  dynamodb:
    image: amazon/dynamodb-local
    container_name: dynamodb
    ports:
      - "8000:8000"
    command: -jar DynamoDBLocal.jar -sharedDb -dbPath /home/dynamodblocal/data
    volumes:
      - dynamodb_data:/home/dynamodblocal/data
    user: root
    healthcheck:
      test: ["CMD-SHELL", "curl -s -o /dev/null -w '%{http_code}' http://localhost:8000 || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 5
  dynamodb-init:
    image: amazon/aws-cli
    container_name: dynamodb-init
    depends_on:
      dynamodb:
        condition: service_healthy
    volumes:
      - ./schemas:/tmp/dynamo
    environment:
      AWS_ACCESS_KEY_ID: 'FAKEID'
      AWS_SECRET_ACCESS_KEY: 'FAKEKEY'
      AWS_REGION: 'us-west-2'
    entrypoint: /bin/bash
    command: >
      -c "
        for f in /tmp/dynamo/*.json; do 
          echo 'Creating table from $$f...';
          aws dynamodb create-table --endpoint-url http://dynamodb:8000 --cli-input-json file://$$f || echo 'Table already exists or creation failed for: '$$f;
        done
      "
  
volumes:
  dynamodb_data:
  nats_data: